@font-face {
    font-family: 'Open Sans';
	src: url('../fonts/OpenSans.eot');
	src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans.woff') format('woff'),
		url('../fonts/OpenSans.ttf') format('truetype'),
		url('../fonts/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}