@font-face {
    font-family: "ArianAMUSerifItalic";
    src: url("../fonts/ArianAMUSerifItalic.eot"); /* IE9 */
    src: local("ArianAMUSerifItalic"), url("../fonts/ArianAMUSerifItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/ArianAMUSerifItalic.woff") format("woff"), /* chrome, firefox */
    url("../fonts/ArianAMUSerifItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/ArianAMUSerifItalic.svg#ArianAMUSerifItalic") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}



@font-face {
    font-family: "open-sans";
    src: url("../fonts/open-sans.eot"); /* IE9 */
    src: local("open-sans"), url("../fonts/open-sans.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/open-sans.woff") format("woff"), /* chrome, firefox */
    url("../fonts/open-sans.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/open-sans.svg#open-sans") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}



@font-face {
    font-family: "suka";
    src: url("../fonts/suka.eot"); /* IE9 */
    src: local("suka"), url("../fonts/suka.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/suka.woff") format("woff"), /* chrome, firefox */
    url("../fonts/suka.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/suka.svg#suka") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


