$body-font-family: 'Open Sans', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

body {
  font-family: $body-font-family;
}

$firstColor: gray;
header {
  background-color: darken($firstColor, 30%);
  a {
    color: #fff;
    transition: ease-in-out 0.2s;
    &:hover {
      color: $firstColor;
    }
  }
}

#article {
  background-color: darken($firstColor, 20%);
  min-height: 100vh;
  color: #fff;
  img {
    width: 100%;
  }
}

#sidebar {
  background-color: lighten($firstColor, 15%);
  color: #fff;
}

#footer {
  background-color: darken($firstColor, 40%);
  color: #fff;
}

.margin {
  margin: 2rem 0;
}