// body {
//     font-family: 'Open Sans', sans-serif;
// }

$aqua: aqua;
header {
    background-color: darken($aqua, 30%);
    color: #fff;
}

#article {
    background-color: $aqua;
    min-height: 100vh;
    img {
        width: 100%;
    }
}

#sidebar {
    background-color: darken($aqua, 15%);
    color: #fff;
}

#footer {
    background-color: darken($aqua, 30%);
    color: #fff;
}
.margin {
    margin: 2rem 0;
}