//- подключаем файл с миксинами
include ../mixins/main
//- ###подключаем файл с миксинами

//- Шаблон вёрстки
doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        //- подключаем favicons, а генерируем здесь http://realfavicongenerator.net/
        include ../favicon/favicon.pug
        //- ###подключаем favicons, а генерируем здесь http://realfavicongenerator.net/

        //- блок с title
        block title
        //- ###блок с title
    body
        //- мобильное меню
        #offCanvas.off-canvas.position-left(data-off-canvas)
            include ../modules/mobile-menu.pug
        //- ###мобильное меню

        //- вся страница полностью
        .off-canvas-content(data-off-canvas-content)
            //- шапка сайта
            include ../modules/header.pug
            //- ###шапка сайта

            //- блок контента
            block content
            //- ###блок контента

            //- подключаем футер
            include ../modules/footer.pug
            //- ###подключаем футер

            //- блок скриптов
            block scripts
            //- cdn jquery
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js' defer)
            //- ###cdn jquery
            script(src="javascript/app.min.js" defer)
            //- ###блок скриптов

        //- ###вся страница полностью

//- по совету https://developers.google.com/speed/pagespeed/insights подключаем здесь но в реальных проектах скорее всего надо перенести в head
link(rel="stylesheet" href="stylesheet/app.css")
//- ###по совету https://developers.google.com/speed/pagespeed/insights подключаем здесь но в реальных проектах скорее всего надо перенести в head

//- ###Шаблон вёрстки