//- подключаем файл с миксинами
include ../mixins/main
//- ###подключаем файл с миксинами

//- Шаблон вёрстки
doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        //- подключаем favicons, а генерируем здесь http://realfavicongenerator.net/
        include ../favicon/favicon.pug
        //- ###подключаем favicons, а генерируем здесь http://realfavicongenerator.net/

        //- блок с title
        block title
        //- ###блок с title

    body
        #offCanvas.off-canvas.position-left(data-off-canvas)
            include ../modules/mobile-menu.pug
        .off-canvas-content(data-off-canvas-content)
            include ../modules/header.pug
            block content
            include ../modules/footer.pug
            block scripts
                //- cdn jquery
                script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js' defer)
                //- ###cdn jquery
                script(src="javascript/app.min.js" defer)
//- ###Шаблон вёрстки

//- по совету https://developers.google.com/speed/pagespeed/insights подключаем здесь но можно перенести в блок head
link(rel="stylesheet" href="stylesheet/app.css")
//- ###по совету https://developers.google.com/speed/pagespeed/insights подключаем здесь но можно перенести в блок head