extends layouts/app.pug
block title
	title Стартовый шаблон для вёрстки
block content
	.row.margin
		article#article.large-8.columns
			h1 Hello Gulp!!!
			img(src="images/pro.jpg" alt="gulp" title="gulp").img-responsive
			h2 Подключены jQuery + Foundation Zurb
			p Если оставляем фрэймворк, то подключаем правильно Foundation Zurb js в gulpfile.js
			h3 PageSpeed Tools > Insights
			h4 Mobile > 91
			h4 Desktop > 97
			p Далеко-далеко за словесными горами в dsстране, гласных и согласных живут рыбные тексты. Буквенных агенство, страна не он сих одна последний своего рыбными пунктуация моей своих предупреждал, выйти, бросил рот инициал лучше над.
		include include/sidebar.pug