extends layouts/app.pug
block title
	title Стартовый шаблон для вёрстки
block content
	.row.margin
		article#article.large-8.columns
			.vidos
				.callout.success.rip
					.responsive-embed
						iframe(src='https://www.youtube.com/embed/wFKBN3MGUGI?showinfo=0&autoplay=1&rel=0&start=96', frameborder='0', allowfullscreen)
			h1 #{hello} #{name}
			hr
			img(src="images/pro.jpg" alt="gulp" title="starter-mini-gulp").img-responsive
			hr
			h2 Подключены jQuery + Foundation Zurb
		include include/sidebar.pug