//- подключаем шаблон вёрстки
extends layouts/app.pug
//- ###подключаем шаблон вёрстки

//- title этой страницы
block title
	title #{indexTitle}
//- ###title этой страницы

block content
	.row.margin
		article#article.large-8.columns
			.callout
				h1 #{hello} #{name}
				hr
				h5 Картинки для проверки оптимизации
				hr
				img(src='images/000.jpg', alt= name title= name).img-responsive
				hr
				img(src="images/pro.jpg" alt= name title= name).img-responsive
				hr
		.large-4.columns
			include modules/sidebar.pug