extends layouts/app.pug
block title
	title Стартовый шаблон для вёрстки
block content
	.row.margin
		article#article.large-8.columns
			h1 #{hello} #{name}
			hr
			img(src="images/pro.jpg" alt="gulp" title="starter-mini-gulp").img-responsive
			hr
			h2 Подключены jQuery + Foundation Zurb
			hr
			p Далеко-далеко за словесными горами в dsстране, гласных и согласных живут рыбные тексты. Буквенных агенство, страна не он сих одна последний своего рыбными пунктуация моей своих предупреждал, выйти, бросил рот инициал лучше над.
			hr
			.vidos
				.callout.success.rip
					h1 R.I.P Chester Bennington
			.responsive-embed
				iframe(src='https://www.youtube.com/embed/5dmQ3QWpy1Q?showinfo=0&autoplay=1&rel=0&start=29', frameborder='0', allowfullscreen)
		include include/sidebar.pug