footer#footer
	.row
		.column.small-12
			h1 Подвал
			p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Они предложения безопасную буквенных, возвращайся подзаголовок большой города! Маленький дорогу текст маленькая, страну переулка залетают запятой заглавных себя языком деревни.