aside#sidebar.medium-4.columns
		h2 Сайдбар 
		img(src="favicon/android-chrome-512x512.png" alt="gulp" title="gulp").img-responsive
		p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Повстречался, знаках! Lorem журчит, грамматики что заголовок своих ты. Бросил выйти там, она родного не образ имени текста, языком заманивший.