<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		//- include favicons http://realfavicongenerator.net/
		include ../favicon/favicon.pug
		//- ###include favicons
		//- CDN Botstrap css
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		//- ###CDN Botstrap css
		//- app stylesheet
		link(rel="stylesheet" href="stylesheet/app.css")
		//- ###app stylesheet
	body
		//- header
		include ../include/header.pug
		//- ###header
		block content
		//- footer
		include ../include/footer.pug
		//- ###footer
		block scripts
			//- CDN jQuery 3.2.1
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
			//- CDN Bootstrap javascripts
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")