doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- include favicons http://realfavicongenerator.net/
		include ../favicon/favicon.pug
		//- ###include favicons
		//- CDN Botstrap css
		link(rel="stylesheet" crossorigin="anonymous" integrity="sha256-NqI559iHqiWe5VxDi9mXE8i83ghn8Ru8BINyiPN7lDg=" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css")
		//- ###CDN Botstrap css
		//- app stylesheet
		link(rel="stylesheet" href="stylesheet/app.css")
		//- ###app stylesheet
		block title
	body
		//- header
		include ../include/header.pug
		//- ###header
		block content
		//- footer
		include ../include/footer.pug
		//- ###footer
		block scripts
			//- CDN jQuery 3.2.1
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
			//- CDN Bootstrap javascripts
			script(crossorigin="anonymous" integrity="sha256-6ikyM5zgWkLwRwc64Pn/i5ioDIvcxCtb+EXE8Zm0qK8=" src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js")