.title-bar(data-responsive-toggle='responsive-menu', data-hide-for='medium')
    button.menu-icon(type='button', data-toggle='offCanvas')
    .title-bar-title Меню
#responsive-menu.top-bar
    .top-bar-left
        ul.dropdown.menu(data-dropdown-menu)
            li.menu-text #{name}
            li.has-submenu
                a(href='#0') Ссылка 1
                ul.submenu.menu.vertical(data-submenu)
                    li
                        a(href='#0') Ссылка 1
                    li
                        a(href='#0') Ссылка 2
                    li
                        a(href='#0') Ссылка 3
            li
                a(href='#0') Ссылка 2
            li
                a(href='#0') Ссылка 3
    .top-bar-right
        ul.menu
            li
                input(type='search', placeholder='Поиск')
            li
                button.button(type='button') Поиск