aside#sidebar.callout
	h2 Сайдбар
	h5 Подключены jQuery #{jquery} <br/> Foundation Zurb #{foundationSites}
	img(src="favicon/android-chrome-512x512.png" alt= name title= name).img-responsive
	hr
	//- mixin
	h5 Тест миксина
	ul.test
		+test('hello', 49)
		+test('Always hello mixin', 225+5)