doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- include favicons http://realfavicongenerator.net/
		include ../favicon/favicon.pug
		//- ###include favicons
		//- app stylesheet
		link(rel="stylesheet" href="stylesheet/app.css")
		//- ###app stylesheet
		block title
	body
		//- header
		include ../include/header.pug
		//- ###header
		block content
		//- footer
		include ../include/footer.pug
		//- ###footer
		block scripts
			script(src="javascript/app.min.js" async)
