extends layouts/app.pug
block content
	.container
			.row
				.col-xs-8.col-sm-8.col-md-8.col-lg-8
					article#article
						h1 Контент
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквенных агенство, страна не он сих одна последний своего рыбными пунктуация моей своих предупреждал, выйти, бросил рот инициал лучше над.
				.col-xs-4.col-sm-4.col-md-4.col-lg-4 
					include include/sidebar.pug