extends layouts/app.pug
block content
	.container
			.row
				article#article.col-xs-8.col-sm-8.col-md-8.col-lg-8
					
						h1 Контент
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквенных агенство, страна не он сих одна последний своего рыбными пунктуация моей своих предупреждал, выйти, бросил рот инициал лучше над.
						img(src="images/gulp.png" alt="gulp" title="gulp").img-responsive
				include include/sidebar.pug