
@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans.eot?#iefix') format('embedded-opentype'),  url('OpenSans.woff') format('woff'), url('OpenSans.ttf')  format('truetype'), url('OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
