ul#deeplinked-accordion.accordion(data-accordion='', data-deep-link='true', data-update-history='true', data-deep-link-smudge='true')
    li.accordion-item.is-active(data-accordion-item='')
        a.accordion-title(href='#deeplink1') Accordion 1
        #deeplink1.accordion-content(data-tab-content='')
            | Panel 1. Lorem ipsum dolor
    li.accordion-item(data-accordion-item='')
        a.accordion-title(href='#deeplink2') Accordion 2
        #deeplink2.accordion-content(data-tab-content='')
            | Panel 2. Lorem ipsum dolor
    li.accordion-item(data-accordion-item='')
        a.accordion-title(href='#deeplink3') Accordion 3
        #deeplink3.accordion-content(data-tab-content='')
            | Panel 3. Lorem ipsum dolor