aside#sidebar.large-4.columns
		h2 Сайдбарчик
		h5 Подключены jQuery #{jquery} <br/> Foundation Zurb #{foundationSites}
		img(src="favicon/android-chrome-512x512.png" alt="gulp" title="starter-mini-gulp").img-responsive
		p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Повстречался, знаках! Lorem журчит, грамматики что заголовок своих ты. Бросил выйти там, она родного не образ имени текста, языком заманивший.